<div id="container">
	<div id="artists" class="generic-box">	
    <div class="update clearfix">

      <div class="artist_name">
        <%= @artist.name %>
        <%= image_tag @artist.photo, :class => "artist_photo_show" %>
      </div><!-- .artist_name -->



      <div class="artist_show_right">  
        <ul>
          <% @artist.songs.map(&:albums).flatten.uniq.each do |album| %>
            <li><%= link_to album.name, album %></li>
          <% end %>
        </ul>

      </div><!-- .artist_show"_right -->
    </div><!-- .update -->


    <div class = "menu_options">
        <%= link_to "Edit Artist Information", edit_artist_path(@artist) %>
        <%= link_to "Delete Artist from Library", artist_path(@artist), :method => :delete, :confirm => "Are you sure?" %>    
    </div><!-- .menu_options -->
	</div><!-- #artists -->
</div><!-- #container -->