<%= form_for @song, :html => {:multipart => true} do |f| %>

  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <h3>Albums</h3>
    <% Album.all.each do |album| %>
      <span><%= album.name %></span>
      <%= check_box_tag '@song[album_ids][]', album.id, @song.albums.include?(album) %>
    <% end %>
  </div>

  <div class='field'>
    <h3>Artists</h3>
    <% Artist.all.each do |artist| %>
      <span><%= artist.name %></span>
      <%= check_box_tag '@song[artist_ids][]', artist.id, @song.artists.include?(artist) %>
    <% end %>
  </div>


  <div class='field'>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <div class='field'>
    <%= f.label :photo_url %>
    <%= f.text_field :remote_photo_url %>
  </div>
  <div class='field'>
    <%= f.hidden_field :photo_cache %>
    <%= image_tag(@song.photo_url) if @song.photo? %>
  </div>
  <div class="field">
    <%= f.label :audio %>
    <%= f.file_field :audio %>
  </div>
  <div class="field">
    <%= f.label :youtube %>
    <%= f.text_field :youtube %>
  </div>
  <div class='field'>
    <%= f.submit %>
  </div>


<% end %>