<div id="song_styles">
  <div id="song" class="generic-box">   

    <div class = "song_item_container clearfix"> 
      <div class = "song_album_photo"><%= image_tag @song.photo.thumb.url %></div><!-- .song_album_photo -->
      <div class = "song_side_info">
        <div class = "song_title"><span class="infomatics">artist: </span>
          <% @song.artists.each do |artist| %>
            <%= artist.name %>
          <% end %>
          </div><!-- .song_title -->
        <div class = "song_album"><span class="infomatics">track: <%= @song.name %></span></div><!-- .song_album -->

        <div class = "song_album"><span class="infomatics">albums: </span>
          <% @song.albums.each do |album| %>
            <%= album.name %>
          <% end %>
        </div><!-- .song_album -->

        <div class = "song_album"><span class="infomatics">genres: </span>
          <% @song.genres.each do |genre| %>
            <%= genre.name %>
          <% end %>
        </div><!-- .song_album -->

        <!-- MP3 IS SHOWN HERE -->
        <br>
        <div class = "song_album">  <b>MP3:</b>
          <%= audio_tag @song.audio, :controls => true %>
        </div><!-- .song_album -->

        <!-- YOU TUBE VIDEO IS SHOWN HERE -->
        <br>
        <div class = "song_album youtube">
          <%= render :partial => 'shared/youtube', :locals => {:youtube => @song.youtube } %>
        </div><!-- .song_album -->




        <br>
        <div><span class="infomatics"><%= link_to "Edit Song", edit_song_path(@song) %> | <%= link_to "Delete Song", song_path(@song), :method => :delete, :confirm => "Are you sure?" %> </span></div>
      </div><!-- .song_side_info -->
    </div><!-- .song_item_container -->

  </div><!-- #song -->
</div><!-- #container --> 