<!DOCTYPE html>
<html>
<head>
  <title>SONG-A-TRON</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
  
</head>

<body>
  <!-- <div id="top"> -->
  	<nav>
    	<span class='mini-logo clearfix' >SONG-A-TRON</span>
    	<div>
	      <%= link_to "Home", root_path %>
	      <%= link_to "Artists", artists_path %>
	      <%= link_to "Albums", albums_path %>
	      <%= link_to "Songs", songs_path %>
	      <%= link_to "Show Library", libraries_path %>
      </div>
    </nav>
  <!-- </div> -->
    
  
  <!-- <div class="clear"></div>
 -->
  <div id = 'yield-styling'>
  	<%= yield %>
  </div> <!-- #yield-styling -->

  <footer>
    <div class="sprite clearfix" id="social-media">
      <ul>
        <li><a href="#" class="facebook">Facebook</a></li>
        <li><a href="#" class="twitter">Twitter</a></li>
        <li><a href="#" class="linkedin">LinkedIn</a></li>  
      </ul>
    </div><!-- #social-media -->

    <div id="copyright">a SONG-A-TRON production</div>

    <span id="left"> © 2012 Song-a-Tron :: All rights reserved | | | | HandCoded by Zahra Jabini :: Raymond Chan :: Hsi-Chang Lin :: Audric Kim</span>
    
  </footer>

</body>
</html>
